.router-link-exact-active{
    text-shadow: 1px 1px 1px #555;
}
.dropdown-menu{
    min-width: 15rem;
}
.header_logo{
    width: 1.9em;
    position: absolute;
    left: -5px;
    top: -5px;
}
.animated_wrapper{
    transition: max-height 0.4s linear;
    -webkit-transition: max-height 0.4s linear;
    -moz-transition: max-height 0.4s linear;
    -o-transition: max-height 0.4s linear;
    -ms-transition: max-height 0.4s linear;
    overflow: hidden;
}