.card_title, .nav_link{
    padding: 0;
}
.widget_card{
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 5px #ccc;
    text-align: left;
    padding: 0;
}
.img_container{
    height: 8em;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: solid 1px #efefef;
    position: relative;
}
.card_title{
    display: inline-block;
    height: 4em;
}