@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('../assets/fonts/LineIcons/LineIcons.css');

body {
  background-color: #f2f2f2 !important;
  font-family: "Lato", sans-serif;
  font-size: 1em;
}

a {
  text-decoration: none !important;
}

.container-fluid.no-padding {
  padding: 0;
}

.nav-link.active{
  text-shadow: 1px 1px 1px #555;
}

.active-group > a{
  text-shadow: 1px 1px 1px #555;
}

.bg-custom-nav{
  background-color: #dd5b0b;
   box-shadow: 0 2px 2px -2px #fff;
}
.dropdown-item.active {
  background-color: transparent !important;
}